[Unit]
Description=dlorg - automatically sorts new files in ~/Downloads

[Service]
ExecStart=%h/.local/bin/dlorg
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
